<div hx-ext="ws" ws-connect="/ai-stream">
	<form id="form" ws-send>
			<wa-input id="user" name="user-input"></wa-input>
			<wa-button type="submit">Send</wa-button>
	</form>

	<zero-md id="ai-response-container" style="margin-top: 1rem;">
		<script id="ai-response" type="text/markdown">
		</script>
	</zero-md>
</div>

<style>
	form {
		width: 100%;
		display: flex;
		gap: 2rem;
	}

	wa-input {
		flex: 1;
	}

	wa-button {
		flex: none;
	}

	#ai-response-container {
		width: 100%;
		font-size: 1.25rem;
		color: #333;
	}
</style>