<div id="stream-container" hx-ext="ws" ws-connect="/ai-stream">
	<form id="loaded-form" ws-send>
		<input type="hidden" name="loaded" value="true"></input>
	</form>
	<div id="assistant-output-container">
		<div id="assistant-output">
		</div>
	</div>
	<form id="userinput-form" ws-send>
		<wa-input id="user" name="userinput"></wa-input>
		<wa-button type="submit">Send</wa-button>
	</form>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		// Get the form element
		var form = document.getElementById("loaded-form");
		// Send the form data via WebSocket
		form.dispatchEvent(new Event("submit", { bubbles: true, cancelable: true }));
	});
</script>

<style>
	#stream-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem;
	}

	#assistant-output-container {
		width: 100%;
		height: 45vh;
		display: flex;
	}

	#userinput-form {
		width: 100%;
		display: flex;
		gap: 2rem;
	}

	wa-input {
		flex: 1;
	}

	wa-button {
		flex: none;
	}

	#assistant-output {
		width: 100%;
		font-size: 2rem;
		color: #333;
	}
</style>