<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>WebSockets Example</title>
		<link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.2/dist/themes/default.css" />
		<script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.2/dist/webawesome.loader.js"></script>
		<script src="https://unpkg.com/htmx.org@2.0.0"></script>
		<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
	</head>
	<body>

		<main>
			<%= yield %>
		</main>


		<style>
			body {
			display: flex;
			flex-direction: column;
			align-items: center;
			}

			body > main {
			width: clamp(365px, 80%, 3000px);
			min-height: calc(80vh);
			padding: 2rem;
			background-color: #f9f9f9;
			}

			form {
			width: 100%;
			display: flex;
			gap: 2rem;
			}

			wa-input {
			flex: 1;
			}

			wa-button {
			flex: none;
			}

			#ai-response {
			width: 100%;
			font-size: 1.25rem;
			color: #333;
			}
		</style>
	</body>
</html>